<div id="main_content">
  <h2>Edit Post</h2>
  <%= form_with(model: [ :admin, @post ], local: true) do |f| %>
    <div>
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :text %>
      <%= f.text_area :text %>
    </div>
    <div>
      <%= f.check_box :published, {}, 'published', 'draft' %>
      Publish
    </div>
    <%= f.submit :Save %>
<% end %>
</div>


<script>
$(function() {
  $('#post_text').froalaEditor({
    toolbarSticky: false,
    heightMin: 500,
    heightMax: 750,
    imageUploadToS3: <%= @aws_data.to_json.html_safe %>,
  })
});
</script>
